CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
**/.idea/
.csv#
 
build/

# Ignore the csvs in datas
Data/TTKData/Cylinder2D/wasserstein_csv
Data/TTKData/Cylinder2D/edit_csv
Data/TTKData/Cylinder2D/wasserstein_csv_short
Data/TTKData/Cylinder2D/edit_csv_short
Data/TTKData/Cylinder2D/wasserstein_csv_copy
Data/TTKData/Cylinder2D/edit_csv_copy
Data/TTKData/Storm_MSLP/wasserstein_csv
Data/TTKData/Storm_MSLP/edit_csv
Data/TTKData/Storm_MSLP/wasserstein_csv_copy
Data/TTKData/Storm_MSLP/edit_csv_copy
Data/TTKData/Cylinder2D/branch_csv_short
Data/TTKData/Cylinder2D/path_csv_short

Data/TTKData/Tangaroa/wasserstein_split_csv
Data/TTKData/Tangaroa/wasserstein_split_csv_short
Data/TTKData/Tangaroa/wasserstein_split_csv_copy
Data/TTKData/Tangaroa/wasserstein_join_csv
Data/TTKData/Tangaroa/edit_split_csv
Data/TTKData/Tangaroa/edit_split_csv_short
Data/TTKData/Tangaroa/edit_split_csv_copy
Data/TTKData/Tangaroa/branch_join_csv
Data/TTKData/Tangaroa/branch_split_csv
Data/TTKData/Tangaroa/branch_split_csv_short
Data/TTKData/Tangaroa/branch_split_csv_copy
Data/TTKData/Tangaroa/path_join_csv
Data/TTKData/Tangaroa/path_split_csv
Data/TTKData/Tangaroa/path_split_csv_short
Data/TTKData/Tangaroa/path_split_csv_copy
Data/TTKData/Tangaroa/path_join_csv

Data/POTData/Cylinder2D/csv

Data/TTKData/Cylinder3D/edit_csv
Data/TTKData/Cylinder3D/edit_split_csv
Data/TTKData/Cylinder3D/edit_join_csv
Data/TTKData/Cylinder3D/edit_split_csv_copy
Data/TTKData/Cylinder3D/edit_split_csv_short
Data/TTKData/Cylinder3D/wasserstein_csv
Data/TTKData/Cylinder3D/wasserstein_split_csv
Data/TTKData/Cylinder3D/wasserstein_join_csv
Data/TTKData/Cylinder3D/wasserstein_split_csv_copy
Data/TTKData/Cylinder3D/wasserstein_split_csv_short
Data/TTKData/Cylinder3D/branch_csv
Data/TTKData/Cylinder3D/branch_split_csv
Data/TTKData/Cylinder3D/branch_split_csv_copy
Data/TTKData/Cylinder3D/branch_split_csv_short
Data/TTKData/Cylinder3D/path_csv
Data/TTKData/Cylinder3D/path_split_csv
Data/TTKData/Cylinder3D/path_split_csv_copy
Data/TTKData/Cylinder3D/path_split_csv_short

Data/TTKData/ViscousFingers/wasserstein_csv
Data/TTKData/ViscousFingers/edit_csv

Data/TTKData/Storm_MSLP/wasserstein_csv_short/
Data/TTKData/Storm_MSLP/edit_csv_short/
Data/TTKData/Storm_MSLP/branch_csv_short
Data/TTKData/Storm_MSLP/path_csv_short


Data/TTKData/ViscousFingers/wasserstein_csv
Data/TTKData/ViscousFingers/edit_csv
Data/TTKData/ViscousFingers/branch_csv
Data/TTKData/ViscousFingers/path_csv
# Ignore IDE specific files
.vscode
.idea

# Ignore system files
.DS_Store
Thumbs.db

__pycache__/
*.pyc
*.pyo

runvf.sh